include README.md
include LICENSE
include requirements.txt
graft template_project_utils
recursive-exclude * *.py[co]
include versioneer.py
include template_project_utils/_version.py
include template_project_utils/resources/schemas/*.json
include template_project_utils/resources/configs/*.yaml